name: Docker

on:
  push:
    branches: ["main"]
    tags: ["*"]

env:
  REGISTRY: ghcr.io
  REPO: ${{ github.repository }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Generate version.py before building image
        run: |
          echo -e "__git_commit__ = \"${{ github.sha }}\"\n__time__ = \"$(date)\"" > ./app/version.py

      - name: Install and configure kubectl
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Keep Docker happy
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
        # This is only here because docker freaks out if the repo/tag that you're pushing to is not all lowercase

      - name: Extract metadata from Git
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPO }}

      - name: Build and push API image
        id: build-api-image
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64
          context: .
          file: ./docker/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          # TODO: add a git tag and associated docker tag for it on merge

      - name: Restart API deployment
        if: steps.build-api-image.outcome == 'success'
        uses: actions-hub/kubectl@master
        with:
          args: rollout restart -n notify-sandbox deployments/notifications-api-deployment-api
